/*************Header*************/


#index-bg-spacer{
    height: 100px;
}

/****************banner****************/

#banner{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url("../images/student-view-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

#login-form-bg{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("../images/African-Students.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

@media only screen and (max-width: 600px){
    /*****************Banner Mobile ***************/
    #banner{
        background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url("../images/student-view-banner-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
    }

    #login-form-bg{
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("../images/African-Students-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
    }

}