body{
    width: 100%;
    margin: 0px;
}

#main-header{
    width: 98%;
    margin-top: -2%;
    padding-right: 2%;
    background-color: white;
    position:fixed;
    z-index: 100;
}

header{
    width: 88%;
    margin-top: 0%;
    margin-bottom: -2%;
}
.header #h1{
    font-size: 200%;
    /* color: #0099FF; */
    text-align: center;
    padding: 0%;
    margin-bottom: 0%;
    word-wrap: break-word;
}
.header #h3{
    font-size: 180%;
    /* color: #0099FF; */
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    /* position: fixed; */
}

#logo-pane{
    width: 10%;
    height: 100%;
    margin-top: 0%;
    float: left;
}

#logo{
    width:100%;
    height:100%;
    padding-top: 2%;
    float: left;
}
#header-seperator{
    margin-left: 0%;
    width: 100%;
    margin-bottom: 0px;
}
/********** Content Pane ***************/
#content-pane{
    width: 98%;
    margin-left: 0.5%;
    padding-left: 1%;
    position: absolute;
    top: 20%;
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 600px){
    [class*="col-"]{
        width: 100%;
    }
       
    header{
        width: 100%;
    }
    .header #h1{
        font-size: 20px;
    }
    .header #h3{
        font-size: 20px;
        padding-left: 8%;
    }
    .arrow-left{
        width: 13px;
        height: 13px;
    }

    .menu-frame{ 
        width: 15px;
    }

    #content-pane{
        width: 96%;
        position: absolute;
        top: 26%;
    }

    .menu-icon-bar-1{
        width: 20px;
        height: 5px;
    }
    
    .menu-icon-bar-2{
        width: 20px;
        height: 5px;
    }
    
    .menu-icon-bar-3{
        width: 20px;
        height: 5px;
    }
    
}




/********************End of rows********************/


.btn-default{
border-radius: 0px;
}

.rounded-corner-btn{
border-radius: 10px;
}
.btn-small{
    width: 12%;
}

.btn-medium{
    width: 20%;
}

.btn-large{
    width: 28%;
}

/**************** Menu Bar Icon Design******************/

.menu-bar{
    margin-top: 0%;
    background-color: white;
}
.menu-frame{ 
    width: 40px;
    border: solid 0.3em #708090;
    border-radius: 4px;
    background-color: white;
}

.menu-icon-bar-1{
    width: 35px;
    height: 6px;
    margin: 2px;
    background-color: #708090;
}

.menu-icon-bar-2{
    width: 35px;
    height: 6px;
    margin: 2px;
    background-color: #708090;
}

.menu-icon-bar-3{
    width: 35px;
    height: 6px;
    margin: 2px;
    background-color: #708090;
}

/*************** Arrow Left Design ***************/
.arrow-left{
    width: 16px;
    height: 16px;
    border: solid 3px whitesmoke;
    border-width: 3px 0px 0px 3px;
    transform: rotateZ(-45deg);
    margin: 8px;
    cursor: pointer;
}