.card-rows{
    padding-left: 18%;
}

.dashboard-item{
    display: inline-block;
    width: 25%;
    height: 300px;
    border: solid 1px grey;
    margin-bottom: 1%;
    margin-right: 1%;
    box-shadow: 5px 5px 3px grey;
}
#dashboard-item-pane{
    /* overflow-y: auto; */
}

.icon-holder{
    height: 200px;
    background-color:whitesmoke;
}

.icon-holder img{
    max-width: 94%;
    max-height: 98%;
    margin: 1%;
}
.pane-name-text{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #708090;
}

.view-links{
    cursor: pointer;
}

/*************** Implementing mobile view ****************/
@media only screen and (max-width: 600px){
    .card-rows{
        width: 100%;
        padding-left: 0px;
    }
    #card-row-1{
        margin-top: 12%;
    }

    .dashboard-item{
        width: 80%;
        height: 240px;
        border: solid 1px grey;
        margin-left: 8%;
        margin-bottom: 5%;
        box-shadow: 5px 5px 3px grey;
    }

    .icon-holder{
        height: 160px;
        background-color:whitesmoke;
    }

    .pane-name-text{
        font-size: 13px;
    }
}