body{
    margin: 0%;
    padding: 0px;
}

.col-12{
    width: 96%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-11{
    width: 88%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-10{
    width: 80%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-9{
    width: 72%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-8{
    width: 64%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-7{
    width: 56%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-6{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-5{
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-4{
    width: 32%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-3{
    width: 24%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-2{
    width: 16%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-1{
    width: 8%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.col-12-custom{
    width: 100%;
}

.col-2-custom{
    width: 16%;
    display: inline-block;
}
/******************* End ofcolumns*******************/

/********************VIEW ROWS************************/
.row-12{
    height: 96%;
}

.row-9{
    height: 72%;
}

.row-6{
    height: 48%;
}

.row-3{
    height: 24%;
}

.row-1{
    height: 8%;
}

/********************End of rows********************/


.btn-default{
border-radius: 0px;
}

.rounded-corner-btn{
border-radius: 10px;
}
.btn-small{
    width: 12%;
}

.btn-medium{
    width: 20%;
}

.btn-large{
    width: 28%;
}

/**************** Menu Bar Icon Design******************/

.menu-frame{
    width: 40px;
    border: solid 0.3em #708090;
    border-radius: 4px;
}

.menu-icon-bar-1{
    width: 35px;
    height: 6px;
    margin: 2px;
    background-color: #708090;
}

.menu-icon-bar-2{
    width: 35px;
    height: 6px;
    margin: 2px;
    background-color: #708090;
}

.menu-icon-bar-3{
    width: 35px;
    height: 6px;
    margin: 2px;
    background-color: #708090;
}

/*************** Arrow Left Design ***************/
.arrow-left{
    width: 16px;
    height: 16px;
    border: solid 3px whitesmoke;
    border-width: 3px 0px 0px 3px;
    transform: rotateZ(-45deg);
    margin: 8px;
}