/***************** General **************/
.select-level-style{
    color: azure;
    font-size: 18px;
    border: solid 0px #708090;
    background-color: #708090;
}

.gen-att{
    color: azure;
    font-size: 18px;
    border: solid 0px #708090;
    background-color: #708090;
    margin-left: 4%;
    cursor: pointer;
}

/**************** End ******************/
/************ View student styling begins here****************/
#viewstudent-title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 1%;
}

#student-view-option-pane{
    text-align: center;
}

.student-view-option{
    width: 15%;
    height: 30px;
    display: inline-block;
    border: solid 0px #708090;
    background-color: #708090;
    color: azure;
    font-size: 25px;
    margin: 1%;
    cursor: pointer;
}

#selected-student-form{
    display: inline-block;
    margin-left: 30%;
}

#all-student-pane label{
    padding-right: 50px;
}

.selected-student-form2{
    width: 45%;
    display: inline-block;
    margin-left: 2%;
}

#by-status-session, #by-level-session{
    width: 40%;
}

.selected-student-form2 input{
    font-size: 16px;
}
.selected-student-form2 select{
    font-size: 16px;
}

#side-space{
    width: 20%;
    display: inline-block;
}

#list-view{
    margin-top: 2%;
    margin-left: 8%;
    height: 300px;
    overflow-y: auto;
    /* border-radius: 10px; */
}
#list-view td{
    font-size: 20px;
    border: solid 0.1em white;
}

#list-view th{
    font-size: 20px;
    border: solid 0.1em white;
}

#list-view table{
    margin-left: 2%;
    border-collapse: collapse;
}
#list-view td{
    cursor: pointer;
}

#student-viewport{
width: 98%;
}

#bio-data-view{
    width: 40%;
    position: absolute;
    top: 30%;
    left: 60%;
    
}

#grey-row{
    background-color: grey;
    color: white;
}
#student_photo{
    text-align: center;
    width: 28%;
    max-height: 180px;
    border-radius: 5%;
    margin: 5px;
}
#student_photo img{
    width: 95%;
    height: 140px;
}

#biodata-table{
    border-collapse: collapse;
}
#biodata-table td{
    font-size: 22px;
}
/******************** Ends here *******************/

/****************** View attendance styling***************/
#attendance-header-data{
    margin-left: 30%;
}

.all-page-title{
    text-align: center;
    font-size: 18px;
    margin-bottom: 1%;
}
.att-semester{
    width: 22%;
    height: 27px;
    display: inline-block;
    border: solid 0px #708090;
    background-color: #708090;
    color: azure;
    font-size: 20px;
    margin: 1%;
    cursor: pointer;
}

.att-level{
    display: inline-block;
}

.result_session{
    display: inline-block;
}

/* #att-sheet{
    overflow-y: auto;
    float: right;
} */

#course-table-display-pane{
    margin-top: 15px;
    margin-left: 20px;
    height: 300px;
    width: 40%;
    overflow-y: auto;
}

#course-table{
    max-width: 96%;
    border-collapse: collapse;
}
#result-course-table{
    border-collapse: collapse;
}
#course-table td{
    border: solid 1px #708090;
    font-size: 18px;
}

#course-table th{
    background-color: #708090;
    color: white;
}
#course-table tr{
    cursor: pointer;
    border: solid 1px white
}

#greyed{
    background-color: grey;
    color: white;
    border: solid 1px white;
}

#att-sheet{
    display: inline-block;
    margin-top: -290px;
    height: 300px;
    overflow-y: auto;
}

#att-sheet-pane{
    margin-bottom: 10px;
}

#att-sheet-PDF-btn{
    color: white;
    font-size: 16px;
    background-color: #708090;
    border: 0px solid #708090;
}

#att-sheet table{
    border-collapse: collapse;
}
#att-sheet th, td{
    border: solid 1px #708090;
}
#att-sheet th{
    font-size: 18px;
    height: 70px;
}
#att_list_body td{
    text-align: center;
}

.no-transform{
    vertical-align: bottom;
}

.transform-text{
    -webkit-transform: rotateZ(-90deg); /* Safari */
    transform: rotateZ(-90deg);
}

.adjust-alignment{
    -webkit-transform: rotateZ(-90deg); /* Safari */
    transform: rotateZ(-90deg);
    text-align: left;
    position: relative;
    top: 10px;
    
}

#pdf-g-btn{
    margin-left: 60%;
    margin-bottom: 2%;
}
/******************* End****************/

/******************* General result styling *****************/
.gen-tables table{
    border-collapse: collapse;
}
.gen-tables th, td{
    border: solid 1px #708090;
    font-family: monospace;
}
.gen-tables th{
    font-size: 14px;
    height: 20px;
}
#result-table-body td{
    font-size: 12px;
    text-align: center;
}

.no-transform{
    vertical-align: bottom;
}

.transform-text{
    -webkit-transform: rotateZ(-90deg); /* Safari */
    transform: rotateZ(-90deg);
    text-align: center;
}

.adjust-alignment{
    -webkit-transform: rotateZ(-90deg); /* Safari */
    transform: rotateZ(-90deg);
    text-align: left;
    position: relative;
    /* top: 10px; */
    
}

#key-pane{
    margin-top: 10px;
}

#key-pane th{
    border: 0px;
}

/****************** Upload Result*************/
#result-upload-param{
    margin-left: 30%;
}
.current-repeat-option{
    display: block;
    margin-top: 2%;
    margin-left: 25%;
    font-size: 16px;
}

.upload-form-pane{
    border: solid 2px #708090;
    display: inline-block;
    width: 40%;
    margin-right: 5%;
    margin-top: 1%;
    float: right;
}
.course-list{
    display: inline-block;
    width: 40%;
    max-height: 300px;
    margin-left: 1%;
    margin-top: 1%;
    overflow-y: auto;
}

.uploadFile_style{
    height: 25px;
    width: 240px;
    font-size: 18px;
    border: solid 2px #708090;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.submit_btn_style{
    background-color: #708090;
    height: 30px;
    width: 30%;
    border: 0px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.col-spacer{
    display: inline-block;
    width: 3%;
}

#form-pane{
    border: solid 2px #708090;
    height: 180px;
    border-radius: 10px;
}

#form-pane form{
    margin-top: 4%;
    margin-left: 15%;
}

#form-pane button{
    font-size: 16px;
    margin-left: 3%;
    margin-top: 5%;
}
.upload-response-pane{
    text-align: center;
    font-size: 14px;
}

/*****************individual result styling**********************/
#individual-result-form{
    margin-left: 15%;
}

#result-list-pane{
    margin-left: 5%;
    overflow-y: auto;
}

#view-result-pane{
    display: inline-block;
    float: right;
    margin-right: 4%;
    margin-top: -10%;
}

#result-list-pane table{
    margin-left: 2%;
    border-collapse: collapse;
}

#result-list-pane td, th{
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
}

#individual-result-table{
    border-collapse: collapse;
    margin-top: 3%;
}

#individual-result-table th{
    font-size: 16px;
}

#individual-result-table td{
    border: 1px solid black;
    font-size: 14px;
}

#s-n-underline{
    border-bottom: solid;
}

#individual-cumm-result-data{
    margin-top: 3%;
}

#individual-cumm-result-data table, td{
    border: 0px none;
    font-size: 14px;
}

/**********General Reesult Styling*******************/
#result-sheet td{
    border: 1px solid #708090;
}

#gen-result-header-pane h3{
    width: 98%;
    text-align: center;
}
#gen-result-header-pane h5{
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 0px;
}

#gen-result-header-sesssion{
    float: right;
}

#gen-result-header-program{
    float: right;
}

/*********************Ends Here****************************/
#course_allocation-title{
margin-top: 2%;
font-size: 30px;
}
#course-allocation-data-input{
    width: 70%;
    margin-left: 28%;
    margin-bottom: 5%;
    font-size: 18px;
}
#course-allocation-data-input select{
    font-size: 18px;
    margin-right: 2%;
}

#course-allocation-data-input label{
    font-size: 22px;
}
.course-allocation-select{
    background-color: #708090;
    border: none;
    color: white;
}

#course-alloction-spread{
    margin-left: 25%;
}

#course-allocation-table th{
    border-collapse: collapse;
    border: 1px solid #708090;
}

#course-allocation-tbody td{
    /* border-collapse: collapse; */
    border: solid 1px #708090;
}
#submit_course_allocation{
    margin-top: 1%;
    margin-left: 25%;
    font-size: 18px;
    background-color: #708090;
    border: 1px solid #708090;
    color: white;
}

@media only screen and (max-width: 600px){
    #viewstudent-title{
        font-size: 23px;
    }
    #student-view-option-pane{
        width: 90%;
        margin-top: 3%;
    }
    
    .student-view-option{
        width: 25%;
        height: 25px;
        font-size: 20px;
        text-align: left;
    }
    #all-student-pane label{
        padding-right: 10px;
    }

    #selected-student-form{
        width: 83%;
        margin-left: 15%;
    }
    #selected-student-form2{
        display: block;
        width: 90%;
        text-align: left;
        margin-left: 5%;
    }

    #by-status-session, #by-level-session{
        display: inline-block;
        width: 85%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
    }

    #select-level, #select-status{
        display: inline-block;
        width: 85%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
    }
    

    #list-view{
        width: 100%;
    }

    #individual-result-form{
        margin-left: 0%;
        max-width: 100%;
        margin-top: 5%;
    }

    

    /**************radio buttons****************/

    .att-semester{
        width: 45%;
        height: 18px;
        display: inline-block;
        border: solid 0px #708090;
        background-color: #708090;
        color: azure;
        font-size: 16px;
        margin: 1%;
        margin-top: 5%;
        cursor: pointer;
    }
    
    .att-level select{
        display: inline-block;
        font-size: 16px;
    }

    #ind-result-btn{
        font-size: 16px;
    }

    #result-list-pane{
        max-width: 100%;
        margin-top: 3%;
        padding: 1px;
    }

    #result-list-pane table{
        margin-left: 1%;
    }

    #result-list-pane td, th{
        font-size: 16px;
        border: 1px solid black;
        cursor: pointer;
    }

    #view-result-pane{
        display: block;
        float: none;
        margin-right: 1px;
        margin-top: 5%;
        max-width: 100%;
        font-size: 14px;
    }

    #view-result-pane th{
        font-size: 14px;
    }
    #view-result-pane td{
        font-size: 12px;
    }

    /**************View Students**************/

    #list-view{
        display: inline-block;
        width: 95%;
        margin-top: 2%;
        margin-left: 2%;
        height: 300px;
    }
    #list-view td{
        font-size: 11px;
        border: solid 0.1em white;
    }
    
    #list-view th{
        font-size: 12px;
        border: solid 0.1em white;
    }
    
    
    #student-viewport{
        display: inline-block;
        width: 95%;
    }
    
    #bio-data-view{
        display: inline-block;
        width: 98%;
        
    }
    
    #student_photo{
        text-align: center;
        width: 30%;
        max-height: 200px;
        border-radius: 5%;
        margin: 5px;
    }
    
    #biodata-table{
        border-collapse: collapse;
    }
    #biodata-table td{
        font-size: 12px;
    }

    /*****************Ends Here***************/

    /***********Attendance sheet**************/
    #bio-data-view{
        display: inline-block;
        width: 98%;
        position: relative;
        left: 1%;
        
    }
    #student_photo{
        width: 49%;
        margin-left: 2%;
    }
    #student_photo img{
        width: 98%;
        height: 160px;
    }

    #attendance-header-data{
        margin-left:2%;
    }
    /************Ends Here*******************/

    /*****************Result upload *****************/
    #result-upload-param{
        margin-left: 0%;
    }

    .course-list{
        width: 98%;
        max-height: 200px;
    }

    #result-course-table{
        width: 96%;
    }

    .course-list th{
        font-size: 11px;
    }

    #course-table-body td{
        font-size: 11px;
    }

    .upload-form-pane{
        width: 94%;
        margin-right: 4%;
    }

    #form-pane{
        width: 100%;
        height: 120px;
    }

    .uploadFile_style{
        height: 20px;
        width: 180px;
        font-size: 11px;
        border: solid 2px #708090;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .submit_btn_style{
        background-color: #708090;
        height: 20px;
        width: 30%;
        /* border: 0px;
        color: white; */
        font-size: 11px;
        /* font-weight: bold;
        cursor: pointer; */
    }

    #form-pane form{
        margin-top: 4%;
        margin-left: 5%;
    }

    /****************Ends here**********************/

    /*************General Result****************/
    .gen-att{
        font-size: 16px;
        
    }

    #gen-result-header-pane h5{
        display: block;
    }

    /* #gen-result-header-sesssion{
        float: none;
    }
    
    #gen-result-header-program{
        float: none;
    } */
    
}



@media only screen and (max-width: 414px){
    #viewstudent-title{
        font-size: 20px;
    }
    #student-view-option-pane{
        margin-top: 3%;
        padding-left: 7%;
    }
    
    .student-view-option{
        width: 38%;
        height: 18px;
        font-size: 12px;
    }
}

