/******************pre-access styling*****************/
.pre-display-pane{
    margin-top: 1%;
}

#prelog-form-pane{
    border: solid 0.2em #708090;
    border-radius: 10px;
    font-size: 18px;
    padding: 2%;
    padding-left: 10%;
}

#prelog-form-pane span{
    margin-left: 35%;
    text-align: center;
    font-weight: bold;
}

#prelog-form-pane input{
    width: 80%;
    font-size: 18px;
    margin-bottom: 2%;
}

#prelog-form-pane select{
    font-size: 18px;
    margin-bottom: 2%;
}

#prelog-form-pane input[type=radio]{
    width: 5%;
    font-size: 18px;
    margin-bottom: 2%;
}
#prelog-form-pane input[type=submit]{
    width: 20%;
    font-size: 18px;
    margin-bottom: 1%;
    
}

/************************end here********************/
#header-seperator{
    margin-left: 1%;
    width: 100%;
    margin-bottom: 0px;
}
#session-selection{
    color: #708090;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 80%;
}
/************************Dashbord styling begins here******************/
#menu-list{
    margin-top: 0%;
    padding-top: 0%;
    margin-left: 0%;
    height: 490px;
    color: white;
    position: fixed;
    /* top: 22.5%; */
    background-color: #708090; 
}

#menu_header{
    display: inline-block;
    float:right;
    width: 88%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    height: 7%;
    background-color: #708090;
}
.menu-bar{
    margin-top: 0%;
    margin-left: 0px;
    cursor: pointer;
    position: fixed;
}

#close-menu{
    display: inline-block;
    width: 10%;
    cursor: pointer;
}
.dashboard_ul{
    font-weight: bold;
    font-size:16px;
    margin-top: 2%;
    list-style: none;
    padding: 1%;
}
#list_item_pane{
    height: 90%;
    padding-right: 2%;
    text-align: justify;
    overflow-y: auto;
    overflow-x: hidden;
}

.list_items{
    display: block;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 3px;
    cursor: pointer;
}

.list_items select{
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size:16px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #708090;
    cursor: pointer;
}

#second_admin option{
    background-color: #708090;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#second_admin:hover{
    color: #DAA520;
}

.list_items:hover{
    color: #DAA520;
}
.paintList{
    background-color:white;
    color: #708090;
}
/********************Ends here*********************/
#display-pane{
    width: 100%;
    margin-top: 0%;
    height:460px;
    overflow:auto;
}
/*****************Login Form Styling****************/
#login-form-pane{
    border: solid 0.2em #708090;
    padding: 2%;
    margin-top: 3%;
    padding-left: 10%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
}

#login-form-pane input{
    width: 80%;
    font-size: 20px;
    margin-bottom: 2%;
}

#login-form-pane input[type=submit]{
    width: 20%;
    font-size: 20px;
    margin-bottom: 2%;
    margin-left: 60%;
}

/****************Ends here**************************/

/************* modal starts here ****************/
#modal {
    display: block;
    /* float: left; */
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.8);
    z-index: 50;
    top: 0;
    margin-top: -0.5em;
    margin-left: -16.7em;
}

#closeModal {
    color: #fff;
    font-size: 30px;
    background: transparent;
    border: none;
    margin: 1em;
    margin-left: 7em;
    position: absolute;
}

#validation-info-board{
    background-color: white;
    margin-top: 19%;
    border-radius: 10px;
    height: 25%;
    text-align: center;
}

#validation-info{
    color: red;
    text-align: center;
    margin-bottom: 8%;
}
#clear-modal{
    font-size: 18px;
}
/****************Ends here****************/

/************* modal starts here ****************/
#modal {
    display: block;
    /* float: left; */
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.8);
    z-index: 50;
    top: 0;
    margin-top: -0.5em;
    margin-left: -0.9em;
}

#closeModal {
    color: #fff;
    font-size: 30px;
    background: transparent;
    border: none;
    margin: 1em;
    margin-left: 7em;
    position: absolute;
}

#validation-info-board{
    background-color: white;
    margin-top: 19%;
    border-radius: 10px;
    height: 25%;
    text-align: center;
}

#validation-info{
    color: red;
    text-align: center;
    margin: 2%;
    margin-bottom: 2%;
    height: 50px;
}
#clear-modal{
    font-size: 18px;
}
/****************Ends here****************/

/****************** Second admin form *****************/
#second-admin-form-pane{
    border: solid 0.2em #708090;
    border-radius: 10px;
    font-size: 18px;
    padding: 2%;
    /* padding-left: 10%; */
}

#second-admin-form-pane span{
    margin-left: 35%;
    text-align: center;
    font-weight: bold;
}

#second-admin-form-pane input{
    width: 80%;
    font-size: 18px;
    margin-bottom: 2%;
}

#second-admin-form-pane select{
    font-size: 18px;
    margin-bottom: 2%;
}

#second-admin-form-pane input[type=radio]{
    width: 5%;
    font-size: 18px;
    margin-bottom: 2%;
}
#second-admin-form-pane input[type=submit]{
    width: 20%;
    font-size: 18px;
    margin-bottom: 1%;
    
}

/**************** Ends here*******************/

/**************Responsive******************/

@media only screen and (max-width: 768px){
    #session-selection{
        margin-left: 75%;
        font-size: 12px;
    }

    #session-selection select{
        font-size: 10px;
    }
    #login-form-pane{
        margin-left: 10%;
    }

    #menu-list{
        height: 100%;        
    }

    #list_item_pane{
        height: 90%;
        text-align: justify;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .dashboard_ul{
        font-size:10px;
    }

    #menu-header{
        font-size: 18px;
    }

    @media only screen and (max-width: 600px){
        #login-form-pane{
            margin-left: 0%;
        }
    }
}