.uploadFile_style{
    height: 25px;
    width: 240px;
    font-size: 18px;
    border: solid 2px #708090;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.submit_btn_style{
    background-color: #708090;
    height: 30px;
    width: 30%;
    border: 0px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.col-spacer{
    display: inline-block;
    width: 3%;
}

#page-title{
    height: 50px;
    text-align: center;
    font-size: 25px;
}

#form-pane{
    margin-left: 21%;
    border: solid 2px #708090;
    height: 180px;
    border-radius: 10px;
}

#form-pane form{
    margin-top: 4%;
    margin-left: 15%;
}
#sample-file-pane{
    width: 100%;
    text-align: center;
    margin-top: 5%;
    border-radius: 7px;
}
#form-pane button{
    font-size: 16px;
    margin-left: 5%;
    margin-top: 5%;
}
.upload-response-pane{
    text-align: center;
    font-size: 14px;
}

.student-upload-tabs{
    display: inline-block;
    width: 25%;
    margin-bottom: 10px;
    font-size: 22px;
}

#batch-upload{
    margin-left: 25%;
    border-top: solid 2px #708090;
    border-left: solid 2px #708090;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

#single-upload{
    border-top: solid 2px #708090;
    border-right: solid 2px #708090;
    border-left: solid 2px #708090;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#single-upload-form{
    margin-left: 20%;
    padding-left: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid 2px #708090;
    border-radius: 10px;
}
#single-upload-form input{
    font-size: 22px;
    width: 65%;
    margin: 1%;
}

#admission_level{
    margin-bottom: 2%;
}

#single-upload-form label{
    font-size: 22px;
    margin-right: 2%;
    margin-bottom: 2%;
}

#single-upload-form button{
    font-size: 22px;
}

#single-upload-form input[type=radio]{
    font-size: 22px;
    width: 2%;
    margin: 1%;
    margin-bottom: 2%;
}

#single-upload-form select{
    font-size: 18px;
    margin-bottom: 2%;
}

/************* modal starts here ****************/
#modal {
    display: block;
    /* float: left; */
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.8);
    z-index: 50;
    top: 0;
    margin-top: -0.5em;
    margin-left: -0.9em;
}

#closeModal {
    color: #fff;
    font-size: 30px;
    background: transparent;
    border: none;
    margin: 1em;
    margin-left: 7em;
    position: absolute;
}

#validation-info-board{
    background-color: white;
    margin-top: 19%;
    border-radius: 10px;
    height: 25%;
    text-align: center;
}

#validation-info{
    color: red;
    text-align: center;
    margin: 2%;
    margin-bottom: 2%;
    height: 50px;
}
#clear-modal{
    font-size: 18px;
}
/****************Ends here****************/

/************** Responsive Styling *************/

@media only screen and (min-width: 600px) and (max-width: 750px){
    #batch-upload{
        margin-left: 20%;
    }
    #form-pane{
        margin-left: 12%;
        height: 180px;
    }
    #form-pane form{
        margin-left: 6%;
    }
    .submit_btn_style{
        width: 40%;
        font-size: 14px;
    }
    .uploadFile_style{
        height: 20px;
        width: 150px;
        font-size: 12px;
    }
    #page-title{
        font-size: 20px;
    }
    
}
@media only screen and (min-width: 500px) and (max-width: 599px){
    #form-pane{
        margin-left: 0%;
        height: 180px;
    }
    .submit_btn_style{
        font-size: 12px;
    }
    .uploadFile_style{
        height: 20px;
        width: 140px;
        font-size: 12px;
    }
    #page-title{
        font-size: 18px;
    }
}
@media only screen and (max-width: 414px){
    #form-pane{
        margin-left: 0%;
        height: 180px;
    }
    .submit_btn_style{
        font-size: 10px;
    }
    .uploadFile_style{
        height: 28px;
        width: 140px;
        font-size: 11px;
    }
    #page-title{
        font-size: 16px;
    }
    #single-upload-form{
        margin-left: 0%;
        padding-left: 1%;
    }
    #single-upload-form input{
        font-size: 16px;
        width: 94%;
    }
    #single-upload-form label{
        font-size: 18px;
    }
    #single-upload-form input[type=radio]{
        font-size: 18px;
    }
    
    #single-upload-form select{
        font-size: 16px;
    }
    #single-upload-form button{
        font-size: 18px;
    }
}