.uploadFile_style{
    height: 30px;
    width: 240px;
    font-size: 16px;
    border: solid 2px #708090;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.submit_btn_style{
    background-color: #708090;
    height: 30px;
    width: 30%;
    border: 0px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.col-spacer{
    display: inline-block;
    width: 3%;
}

#page-title{
    height: 50px;
    text-align: center;
    font-size: 25px;
}

#form-pane{
    border: solid 2px #708090;
    height: 180px;
    border-radius: 10px;
}

#form-pane form{
    margin-top: 4%;
    margin-left: 15%;
}
.upload-response-pane{
    text-align: center;
    font-size: 14px;
}

.student-upload-tabs{
    display: inline-block;
    width: 25%;
    margin-bottom: 10px;
    font-size: 22px;
}

#batch-upload{
    margin-left: 30%;
    border-top: solid 2px #708090;
    border-left: solid 2px #708090;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#single-upload{
    border-top: solid 2px #708090;
    border-right: solid 2px #708090;
    border-left: solid 2px #708090;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#single-upload-form{
    padding-left: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid 2px #708090;
    border-radius: 10px;
}
#single-upload-form input{
    font-size: 22px;
    width: 65%;
    margin: 1%;
}

#admission_level{
    margin-bottom: 2%;
}

#single-upload-form label{
    font-size: 22px;
    margin-right: 2%;
}

#single-upload-form button{
    font-size: 22px;
}